*{
    box-sizing: border-box;

}
body{
    
    /* background: url("image/shillong.jpg")  no-repeat; */
    background-color: black;
}
nav{
    color: white;
    
}
.logo{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
#lg{
    color: blue;
    font-weight: bold;

}
#logo_img{
    background: url('image/monolith_2.png') no-repeat;
    width: 100px;
    height: 50px;
}

.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 5px white;
    
}
.li_h{
    float: right;

}
.li_h a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 30px;
}
.li_h a.active{
    background-color: wheat;
    color: black;
}
.li_h a:hover:not(.active)
{
    background-color: wheat;
    color: black;
}
.lo{
    float: left;
    margin: 0;
}

.h{
    color: wheat;
    text-align: center;
    font-size: 2em;
    margin-top: 15px;
}
h1{
    font-size: 2.5em;
    font-style: italic;
    color: blanchedalmond;
    text-align: center;
}
.p{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    color: wheat;
}
#about{
    margin-top: 80px;
}
.about{
    width: 70%;
    margin-left: 20%;
    padding: 15px;
    margin-bottom: 30px;
    color: wheat;
    font-size: 1.5em;
    font-style: italic;
    
}
.cul{
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 40px;
    color: wheat;
}
.cul p{
    font-size: 1.1em;
}
.s{
    color: cyan;
    font-style: italic;
}
.circle{
    text-align:center;
    margin-bottom: 50px;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
#ex{
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
footer{
    color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
}
.fac{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 33%;
    margin-right: 33%;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
    
}
.fac a{
    text-decoration: none;
}
#f_img,#t_img{
    height: 250px;
	width: 100%;
	position: relative;
    overflow: hidden;
    padding: 0;
}
#f_img{
    background: url('image/facilties.jpg') no-repeat;
    background-position: center;
}
#t_img{
    background: url('image/tourist.jpg') no-repeat;
    background-position: center;
}
#f_img span,#t_img span{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	font-size: 1.6em;
    text-transform: uppercase;
    font-style: italic;
    color: blue;
    font-size: 2em;
    font-weight: bold;
	opacity: 0.8;
}
#f_img:hover,#t_img:hover,#f_img span:hover,#t_img span:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
    background-color: #000;
    color: #fff;
}
.e_f{
    color: white;
}
.column{
    float: left;
    width: 50%;
    padding: 5px;
    margin-bottom: 20px;
}
.column1{
    float: left;
    width: 12.5%;
    padding: 5px;
}
.column1 span{
    font-size: 0.8em;
}
.col{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.col a{
    color: white;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
h2{
    color: whitesmoke;
    font-style: oblique;
}
#about{
    text-align: center;
}
.column a{
    text-decoration: none;
}
.column span{
    color:white;
}
#related{
    margin-top: 60px;
}
hr.new {
    border-top: 2px dashed whitesmoke;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 15px;
  }